/* Utilities are simple HTML classes typically scoped to a single CSS property, like border-style or background-color .
 Utilities can be used additively to style an object from scratch or to override a style defined in component CSS. */
/* reuse the utilit */
.text-center {
  text-align: center;
  color: white;
}
.mx-auto {
  margin: auto;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
